@font-face {
font-family: "kaerukaeru";
src: url("../assets/kaerukaeru-Regular.eot");
src:
url("../assets/kaerukaeru-Regular.woff") format("woff"),
url("../assets/kaerukaeru-Regular.woff2") format("woff2"),
url("../assets/kaerukaeru-Regular.otf") format("otf");}
h1{
	padding: 125px 0 10px;
	font-family: "kaerukaeru";
	font-weight: 400;
	font-style: normal;
	text-align: center;
	font-size: 80px;
	color:white
}
h2{font-family: "kaerukaeru", sans-serif;
	font-weight: 400;
	font-style: normal;
	text-align: center;
	font-size: 23px;
	text-transform:uppercase;
	color:white;
	padding-top:5px;
	}
h3{font-family: "kaerukaeru";
	font-weight: 400;
	font-style: normal;
	text-align: left;
	font-size: 50px;
	color:#b9b5e5;
	}
nav{font-family: neue-haas-unica, sans-serif;
	font-weight: 400;
	text-align: center;
	font-style: normal;
	font-size: 68px;
	padding-top:10px;
	padding-bottom: 50px;

	}
p{font-family: neue-haas-unica, sans-serif;
	font-weight: 400;
	text-align: justify;
	font-style: normal;
	color:#b9b5e5;
	line-height: 30px;
	font-size: 25px;
	padding-top:20px;
	padding-bottom:;
	overflow: scroll;
	height: 310px; 
    }
a:link {
  color: #b9b5e5;}
a:visited {
  color: #b9b5e5;}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: white;
}
a:active {
  color: white;
}

.subpage{ 
	font-family: neue-haas-unica, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 30px;
	position: fixed;
	transform: rotate(270deg);
	position: absolute;
	top:250px;
	left:-200px; 
	}
footer{position:absolute;
   bottom:0;
   width:100%;
	padding-bottom: 10px}
hr {width: 100%;
	background-color: white; 
	height: 1px; 
	border: 0;
	}
.astratus {background-image: url("../images/stratus.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
}
.animbus {background-image: url("../images/nimbus.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
}    
.acumulus{background-image: url("../images/cumulus.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
}
.acirrus{background-image: url("../images/cirrus.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
}
.b{padding-top: 250px}
.c{padding-left: 40px;
	padding-top: 20px;
}
.c img{width: 100px;
}
.main {
  background-image: url("../images/nocloudsjpg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;  
}
.wrapper {
  display: grid;
  grid-template-columns: 50% 35% 15%;
  grid-gap: 10px;
  background-color: #;
  color: #;
}

